.container {
  background-color: rgba(64, 83, 95, 0.874);
  padding-bottom: 2rem;
}

/* nav */
.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}
.nav :last-child {
  background-color: rgba(64, 83, 95, 0.874);
  border: 0.001rem solid white;
  color: white;
  height: 2rem;
  width: 8rem;
  margin-right: 3rem;
  cursor: pointer;
}
img[src="./image/white-logo.png"] {
  width: 5rem;
  margin: 2rem 5rem;
}

/* hero */
.hero {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hero-left :first-child {
  width: 60vh;
  height: 40vh;
}
.hero-right {
  display: flex;
  flex-direction: column;
  top: 10vh;
}

img[src="./image/pexels-fauxels-3184325.jpg"] {
  display: flex;
  justify-content: center;
  width: 80vh;
  height: 50vh;

  background-size: cover;
}
.hero-right {
  max-width: 50vh;
}
.hero-right > h1 {
  max-width: 80vh;
}
.hero-right > h4 {
  max-width: 60vh;
}
.right-bottom {
  display: flex;
  height: 3rem;
  width: 23rem;
  border: none;
  background-color: white;
  justify-content: space-around;
}
input[type="text"] {
  border: none;
}
input[value="Lets's talk"] {
  border: none;
  background-color: rgba(0, 128, 0, 0.377);
  height: 2.5rem;
  margin-top: 0.2rem;
  margin-left: 2rem;
  width: 8rem;
  color: white;
  border-radius: 5vh;
  cursor: pointer;
}
.email {
  display: flex;
}
img[src="./image/Email Icon.svg"] {
  width: 1rem;
}

/* connect-section */
.connect {
  display: flex;
  justify-content: space-around;
  padding: 0rem 2rem;
}

.heading {
  display: flex;
  justify-content: center;

  text-align: center;
}

.connect-img {
  display: flex;
  justify-content: center;
}
.connect-img :first-child {
  width: 90vh;
}

/* design */
.design-heading {
  display: flex;
  justify-content: center;

  font-size: 1rem;
  text-align: center;
}

.design {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.design-left {
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design-left :nth-child(2) {
  max-width: 37rem;
}
input[value="Let's Talk"] {
  border: none;
  background-color: rgba(0, 128, 0, 0.377);
  height: 2.5rem;
  margin-top: 0.2rem;
  width: 8rem;
  color: white;
  border-radius: 5vh;
  cursor: pointer;
}

.design-right :first-child {
  width: 50vh;
  margin-right: 0;
}

/* marketing-section-1 */
.marketing {
  display: flex;
  margin: 2rem 8rem;
}
.marketing-left {
  width: 100%;
}
img[src="./image/pexels-fauxels-3184603.jpg"] {
  width: 70%;
  height: 60%;
}
.marketing-right {
  max-width: 50vh;
}

/* marketing-section-2 */
.health {
  display: flex;
}
.health-left {
  max-width: ;
  margin: 2rem 5rem;
}
.health-left  h1,
h4 {
  max-width: 24rem;
}

.health-right {
  width: 100%;
}
img[src="./image/pexels-linkedin-sales-navigator-2182969.jpg"] {
  width: 60%;
  height: 110%;
}

/* intro */
.team {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
}
.team-left {
  max-width: 20rem;
}
.team-right {
  max-width: 25rem;
}
.intro-imgs {
  display: flex;
  margin: 2rem 5rem;
}
.introduction-r1,
.introduction-r2,
.introduction-r3 {
  width: 100%;
}
img[class="intro"] {
  width: 40vh;
}
h4[class="detail"] {
  max-width: 19rem;
}
input[value="See More"] {
  border: none;
  background-color: rgba(0, 128, 0, 0.377);
  height: 2.5rem;
  margin-top: 2rem;
  margin-left: 4rem;
  width: 8rem;
  color: white;
}

/* footer */
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
img[class="small-icon"] {
  width: 5rem;
}
img[class="big-icon"] {
  width: 5rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.896);
  padding-bottom: 3rem;
}
.footer-icon {
  margin-right: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
img[src="./image/Logo.png"] {
  color: white;
}

hr {
  margin: 2rem;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 4rem;
  padding: 2rem;
  cursor: pointer;
}

li {
  margin-top: 2em;
  color: white;
}
li:nth-child(1) {
  font-size: 1.8rem;
}
h4 {
  color: rgb(88, 91, 94);
}

/* media */
@media screen and (min-width: 849px) {
  .nav-mobile {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  * {
    padding: 0;
    margin: 0;
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: baseline;
  }
  .nav-mobile :last-child {
    background-color: rgba(64, 83, 95, 0.874);
    border: 0.001rem solid white;
    color: white;
    height: 2rem;
    width: 8rem;
    margin-right: 3rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hero-left :first-child {
    border-radius: 2vh;
    width: 40vh;
  }
  .hero-right {
    display: flex;
    text-align: center;
  }
  .text {
    color: #ffffff;
  }
  .right-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
    border-radius: 3vh;
  }
  .connect-section {
    display: flex;
    flex-direction: column;
  }
  .design-heading {
    display: flex;
    text-align: center;
  }
  .design {
    display: flex;
    flex-direction: column-reverse;
  }
  .design-heading {
    display: flex;
    justify-content: center;
  }
  .design-left {
    width: 100vh;
    display: flex;
    justify-self: center;
    text-align: center;
    max-width: 50vh;
  }
  .design-left :nth-child(2) {
    max-width: 30vh;
  }
  .design-right {
    display: flex;
    justify-content: center;
  }
  .marketing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .marketing-left {
    display: flex;
    justify-content: center;
  }
  .marketing-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .health {
    display: flex;
    flex-direction: column-reverse;
  }
  .health-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .health-right {
    display: flex;
    justify-content: center;
  }
  .introduction {
    display: flex;
    flex-direction: column-reverse;
  }
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin: 0;
    margin-bottom: 10vh;
  }
  .introduction-r1 :first-child {
    display: flex;
  }

  .intro-imgs {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
